<section class="site_section create_product">
    <h2>Create Product</h2>
    {{#if success}}
      <h3>{{success}}</h3>
    {{/if}}
    
    <form action="/product/create" method="POST">
        <input type="hidden" name="_csrf" value="{{ _csrf }}">
        <fieldset>
            <input name="product" value="{{product}}" type="text" placeholder="Product...">
        </fieldset>

        <fieldset>
            <input name="callories" value="{{callories}}" type="text" placeholder="Callories...">
        </fieldset>

        <fieldset>
            <input name="carbs" value="{{carbs}}" type="text" placeholder="Carbs...">
        </fieldset>

        <fieldset>
            <input name="protein" value="{{protein}}" type="text" placeholder="Protein...">
        </fieldset>

        <fieldset>
            <input name="fat" value="{{fat}}" type="text" placeholder="Fat...">
        </fieldset>

        <fieldset>
            <input type="submit" value="Create">
        </fieldset>
    </form>
</section>