<div>
	<h4>Hi {{ info.name }}! </h4>
	<h4>
	{{#if info.weight }}
		Your current weight is {{ info.weight }}. 
	{{else}} 
		Click down if you want to update your weight.
	{{/if}}
	</h4>
	
	<form action="/users/update/weight" method="POST">
		<input type="hidden" name="_csrf" value="{{ _csrf }}">

		<div>
			<label for="weight">Weight</label>
			<input type="number" name="weight" id="weight" placeholder="Weight...">
		</div>
		
		<input type="submit" value="Update">
	</form>
</div>

<div>
{{#each notes}}
	<table>
		<tr>
			<td>
				<form id="delete-post-form" action="/daynote/delete/{{ this._id }}" method="POST">
					<input type="hidden" name="_csrf" value="{{ ../_csrf }}">
				</form>
				<a href="javascript:document.getElementById('delete-post-form').submit()">Delete</a>
			</td>
		</tr>
		{{#if this.yourWeight}}
		<tr>
			<td colspan="6">
				Your current weight is: {{ this.yourWeight }}
			</td>
		</tr>
		{{/if}}
		<tr>
			<th>
				Food
			</th>
			<th>
				Weight
			</th>
			<th>
				Callories
			</th>
			<th>
				Carbs
			</th>
			<th>
				Protein
			</th>
			<th>
				Fat
			</th>
		</tr>
		{{#each this.products}}
		<tr>
			<td>{{this.product.product}}</td>
			<td>{{this.weight}}</td>
			<td>{{this.product.callories}}</td>
			<td>{{this.product.carbs}}</td>
			<td>{{this.product.protein}}</td>
			<td>{{this.product.fat}}</td>
			<td>
				<form id="delete-product-post-form" action="/daynote/delete/product/{{ ../this._id }}/{{ this._id }}" method="POST">
					<input type="hidden" name="_csrf" value="{{ ../../_csrf }}">
				</form>
				<a href="javascript:document.getElementById('delete-product-post-form').submit()">Delete</a>
			</td>
		</tr>
		{{/each}}

		<tr>
			<th colspan="2" align="left">
				Total:
			</th>
			<th align="left">
				{{this.total.callories}}
			</th>

			<th align="left">
				{{this.total.carbs}}
			</th>

			<th align="left">
				{{this.total.protein}}
			</th>

			<th align="left">
				{{this.total.fat}}
			</th>
		</tr>
	</table>
{{/each}}
<div>